<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add Skill</title>
  </head>
  <body>
    <h1>Add Skill</h1>
    <form action="/skills" method="POST">
      <label>Skill: <input type="text" name="skill" /></label><br />
      <label
        >Confidence Level
        <select name="confidence">
          <option value="1">Newbie</option>
          <option value="2">Beginner</option>
          <option value="3">Intermediate</option>
          <option value="4">Experienced</option>
          <option value="5">Expert</option>
        </select></label
      >
      <input type="submit" value="Add Skill" />
    </form>
  </body>
</html>
